<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eveningoutpost.dexdrip">

    <permission android:name="com.eveningoutpost.dexdrip.permissions.RECEIVE_BG_ESTIMATE" />
    <permission android:name="com.eveningoutpost.dexdrip.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".xdrip"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="DexDrip.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="41" />

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="com.example"
            android:exported="false" />

        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BluetoothScan"
            android:label="@string/title_activity_bluetooth_scan" />

        <service
            android:name=".Services.DexCollectionService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.WifiCollectionService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Tables.BgReadingTable"
            android:label="Bg Readings Table" />
        <activity
            android:name=".Tables.SensorDataTable"
            android:label="Sensor Table" />
        <activity
            android:name=".ImportDatabaseActivity"
            android:label="Import Database" />
        <activity
            android:name=".GoogleDriveInterface"
            android:label="Sync Data"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".GcmActivity"
            android:label="GCM connect" />
        <activity
            android:name=".AddCalibration"
            android:label="@string/title_activity_add_calibration" />
        <activity
            android:name=".StartNewSensor"
            android:label="@string/title_activity_start_new_sensor" />
        <activity
            android:name=".NewSensorLocation"
            android:label="@string/title_activity_new_sensor_location" />
        <activity
            android:name=".StopSensor"
            android:label="@string/title_activity_stop_sensor" />

        <receiver android:name=".AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Tables.CalibrationDataTable"
            android:label="@string/title_activity_calibration_data_table" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.eveningoutpost.dexdrip" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GcmListenerSvc"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".RegistrationIntentService"
            android:exported="false" />
        <service
            android:name=".MyDriveEventService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.drive.events.HANDLE_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Services.SyncService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ImportedLibraries.dexcom.SyncingService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".stats.StatsActivity"
            android:label="Statistics" />
        <activity
            android:name=".SnoozeActivity"
            android:label="@string/title_snooze" />
        <activity
            android:name=".FakeNumbers"
            android:label="@string/title_activity_fake_numbers" />
        <activity
            android:name=".EditAlertActivity"
            android:label="@string/title_activity_edit_alert" />
        <activity
            android:name=".DoubleCalibrationActivity"
            android:label="@string/title_activity_double_calibration" />
        <activity
            android:name=".CalibrationOverride"
            android:label="@string/title_activity_calibration_override" />
        <activity
            android:name=".CalibrationGraph"
            android:label="@string/title_activity_calibration_graph" />
        <activity
            android:name=".LicenseAgreementActivity"
            android:label="@string/title_activity_license_agreement" />
        <activity
            android:name=".CalibrationCheckInActivity"
            android:label="@string/title_activity_calibration_check_in" />
        <activity
            android:name=".UsbConnectedActivity"
            android:label="@string/title_activity_usb_connected">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <service
            android:name=".Services.DexShareCollectionService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ShareTest"
            android:label="@string/title_activity_share_test" />
        <activity
            android:name=".SystemStatus"
            android:label="@string/title_activity_system_status" />
        <activity
            android:name=".utils.Preferences"
            android:label="@string/title_activity_preferences"
             />

        <receiver android:name=".xDripWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/x_drip_widget_info" />
        </receiver>

        <service
            android:name=".WidgetUpdateService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="193dbc121e25e5f3e71bb98164ec074378e339df" />

        <activity
            android:name=".AlertList"
            android:label="@string/title_activity_alert_list" />
        <activity
            android:name=".ErrorsActivity"
            android:label="Error List" />
        <activity
            android:name=".FollowerManagementActivity"
            android:label="Manage Followers" />

        <service
            android:name=".Services.SnoozeOnNotificationDismissService"
            android:exported="false" />
        <service
            android:name=".Services.MissedReadingService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".UtilityModels.Notifications"
            android:exported="false" />
        <service
            android:name=".UtilityModels.PebbleSync"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.DailyIntentService"
            android:exported="false" />

        <activity
            android:name=".localeTasker.ui.EditActivity"
            android:exported="true"
            android:label="@string/plugin_name"
            android:theme="@style/Theme.Locale.Dark"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".localeTasker.receiver.FireReceiver"
            android:exported="true"
            android:process=":background">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Services.PlusSyncService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".UtilityModels.UpdateActivity"
            android:label="@string/title_activity_update" />
        <activity
            android:name=".utils.DisplayQRCode"
            android:label="@string/title_activity_display_qrcode"
            android:noHistory="true" />
        <activity
            android:name=".UtilityModels.SendFeedBack"
            android:label="@string/title_activity_send_feed_back"
            android:noHistory="true" />
        <activity
            android:name=".utils.SdcardImportExport"
            android:label="Settings on external storage"
            android:noHistory="true" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:noHistory="true" />
    </application>

</manifest>
